body {
  background-image: url(../img/concrete_seamless.png);
  background-repeat:repeat;;
  background-position: center 400px;
  background-color: #999;
}

img {
  width: 100%;
}

.box.grid_5 img {
  height: 200px;
}

.newsimg {
  border: 20px;
}

p{
  font-family: 'Raleway', sans-serif;
  padding-top: 10px;
}

a {
  color: #000080;

}

.main-content{
  font-family: 'Raleway', sans-serif;
}

.heading {

  width: 100%;
  height: 400px;

  background-image: url(../img/heading.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  background-color: #003366;
}

.box.grid_3{
   padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}


.box.grid_5{
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.box.grid_7{
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;

}

.box.grid_9{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.box.grid_10{
  background-image: url(../img/metal.jpg);
  text-align: center;
  margin-left: 10px;
  margin-right: auto;
  padding-bottom: 20px;
}

.box.grid_11{
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.

.main-content {

  font-size: 115%;
  font-family: serif;
  margin-top: 60px;
}

.footer {
  width: 100%;
  height: 100px;
  background-repeat: no-repeat;
  background-image: url(../img/stadium.jpg);

}

footer p{
    size: 100%;
    color: white;
}


h1 {
  padding-top: 14%;
  padding-left: 4%;
  text-align: left;
  text-decoration-color: 	#fff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 450%;
  font-weight: bolder;
  color: 	#fff;
}

h2{
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  font-size: 200%;
  font-weight: bolder;
  color: 	#000080;
}

h3 {

}
