body {
  background-image: url(../img/concrete_seamless.png);
  background-repeat:repeat;;
  background-position: center 400px;
  background-color: #999;
}

img {
  width: 100%;
}

.box.grid_5 img {
  height: 200px;
}

.newsimg {
  border: 20px;
}

a {
  font-weight: bold;
  color: #000080;
  font-family: sans-serif;
}

.heading {

  width: 100%;
  height: 400px;

  background-image: url(../img/heading.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  background-color: #003366;
}

h2.intro{
  text-align: center;
  font-size: bold;
}

.box.grid_3{
   padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.box.grid_10{
  padding-top: 20px;
  background-image: url(../img/metal.jpg);
  padding-bottom: 50px;
}

.box.grid_5{
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.box.grid_7{
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;

}

.main-content {

  font-size: 115%;
  font-family: serif;
  margin-top: 60px;
}


h1 {
  padding-top: 14%;
  padding-left: 4%;
  text-align: left;
  text-decoration-color: 	#fff;
  font-family: serif;
  font-size: 350%;
  font-weight: bolder;
  color: 	#fff;
}

h2{
  font-family: sans-serif;
  font-size: 150%;
  font-weight: bolder;
  color: 	#000080;
}
